<div class="row d-flex justify-content-center">
    <div class="col-md-8">


        <!-- <% todos.forEach((item)=>{ %>
        <h1><%= item %></h1>
        <% });  %> -->

        <div class="m-auto">
            <div class="form-group">
                <input id="todo_input" type="text" name="todo_item" class="form-control" placeholder="Enter New Todo">
            </div>
            <div class="form-group text-center">
                <input id="todo_submit" class="btn btn-primary" type="submit" value="Submit Todo">
            </div>
        </div>

        <div class="card-hover-shadow-2x mb-3 card">

            <div class="ps-content">
                <ul class="list-group list-group-flush">
                    <%
                        for(var i=0;i<todos.length;i++){
                            %>
                    <li class="list-group-item">
                        <div class="todo-indicator bg-success"></div>
                        <div class="widget-content p-0">
                            <div class="widget-content-wrapper">

                                <div class="widget-content-left">
                                    <div class="widget-heading <%=todos[i].is_done? 'del':'' %>">
                                        <%=todos[i].item %>
                                    </div>
                                </div>
                                <div class="widget-content-right">
                                    <i id="doneID"
                                        class="fa fa-check border-0 btn-transition btn btn-outline-success"></i>
                                    <i id="deleteID"
                                        class="fa fa-trash border-0 btn-transition btn btn-outline-danger"></i>
                                </div>
                            </div>
                        </div>
                    </li>
                    <%
                        }
                    %>


                </ul>
            </div>


        </div>
    </div>
</div>